.gallery {
  margin: 0;
  width: 100%;
  height: 30rem;
  position: relative;
}
.slider {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 44.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  position: absolute;
}
.slider img {
  max-width: 44.5rem;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
.arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 44.5rem;
  height: 30rem;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrows svg:hover path {
  stroke: var(--first-color);
}
.arrow-previous,
.arrow-next {
  background-color: var(--white-color);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
}
.arrow-previous {
  margin-left: 1.6rem;
}
.arrow-next {
  margin-right: 1.6rem;
}
