.gallery {
  margin: 0;
  width: 100%;
  max-width: 44.5rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  user-select: none;
  /* max-width: 44.5rem; */
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
}
.slider img {
  max-width: 44.5rem;
  width: 100%;
  object-fit: cover;
  /* scroll-snap-align: center; */
}
.arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 44.5rem;
  height: 30rem;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}
.arrow-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  cursor: pointer;
  pointer-events: all;
}
.arrow-container:hover svg path {
  stroke: var(--first-color);
}
.arrow-previous,
.arrow-next {
  background-color: var(--white-color);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
