.header {
  max-width: 111rem;
  margin: 0 auto;
  padding: 1.9rem 2.4rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  cursor: pointer;
}
.header .left-side {
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
}
.left-side svg:hover {
  cursor: pointer;
}
.left-side svg:hover path {
  fill: var(--second-color);
}
.header .right-side {
  display: flex;
  align-items: center;
  column-gap: 2.218rem;
  position: relative;
}
.cart:hover {
  cursor: pointer;
}
.cart:hover svg path {
  fill: var(--second-color);
}
.cart-items {
  background-color: var(--first-color);
  width: 1.9rem;
  height: 1.3rem;
  border-radius: 0.65rem;
  position: absolute;
  top: -0.5rem;
  left: 1rem;
}
.cart-items p {
  color: var(--white-color);
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
.header .avatar {
  height: 2.4rem;
  width: 2.4rem;
}
.header .avatar:hover {
  border: 0.2rem solid var(--first-color);
  border-radius: 50%;
}
.cart-open path {
  fill: var(--second-color);
}
