@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --first-color: #ff7e1b;
  --second-color: #1d2026;
  --third-color: #69707d;
  --fourth-color: #b6bcc8;
  --fifth-color: #ffeee2;
  --sixth-color: #f6f8fd;
  --white-color: #ffffff;
  --hover-color: #ffab6a;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
s *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Globals */
h1,
h2 {
  margin: 0;
}
p {
  margin: 0;
}
